.Requests {
    width: 100%;
    height: auto;
    background-color: #eceff3;
    padding: 30px 0 60px 0;
    display: flex;
    flex-flow: column;
    margin-bottom: 2px;

    h1 {
        padding-bottom: 30px;
        margin: auto;
    }

    .request-row-box {
        width: 80%;
        margin: auto;
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;

        .ClientRow {
            display: flex;
            flex-flow: row;
            justify-content: space-between;

            .client-avatar {
                width: 4rem;
                height: 4rem;
                border-radius: 100%;
                background-color: #ccc;
                margin: 0 15px 0 0;
            }

            .client-name,
            .request-info {
                font-size: 20px;
                font-weight: 100;
                display: flex;
                flex-flow: column;
                justify-content: center;
            }

            div {
                display: flex;
                flex-flow: row;

                button {
                    margin: 0 15px 0 15px;
                    cursor: pointer;
                }

                .interest {
                    background-color: #fecd44;
                    border: #fecd44;
                }

                .pass {
                    background-color: #c2c5d2;
                    border: #c2c5d2;
                }
            }
        }
    }
}
@media (max-width: 414px) {
    .ClientRow {
        display: flex;
        flex-flow: column;

        div {
            margin: auto;
            padding: 5px 0 5px 0;
        }
    }
}
