.StatusContainer {
    position: relative;
    bottom: 38px;
    height: auto;

    .RequestsContainer,
    .InterestedContainer,
    .MessageMapContainer,
    .HistoryContainer {
        padding-bottom: 30px;
        height: auto;
        width: 100%;
        display: flex;
        flex-flow: column;

        h1 {
            padding: 30px 0;
            margin: 0 auto;
            font-weight: 100;
        }

        .status-row {
            font-size: x-large;
            font-weight: 100;
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 2px;
            padding: 15px 30px;

            .avatar {
                img {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 100%;
                }
            }

            .name,
            .date,
            .space-around {
                display: flex;
                flex-flow: column;
                justify-content: space-around;

                .cancel {
                    color: #fff;
                    background-color: #337ab7;
                    border-color: #2e6da4;
                    max-height: 40px;
                }

                .message {
                    color: #fff;
                    background-color: #fecd44;
                    border-color: #fecd44;
                    max-height: 40px;
                }
            }
        }
    }

    .CaregiversContainer {
        background-color: #7EB9FF;
        width: 80%;
        margin: auto;
        padding: 30px;
        border-radius: 0 0 5px 5px;
        margin-bottom: 30px;
        display: flex;
        flex-flow: column;

        .caregiver-row {
                margin: 0 0 2px 0;
                background-color: #fff;
                width: 100%;
                padding: 15px;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

            .avatar, 
            .caregiver,
            .space-around {
                display: flex;
                flex-flow: column;
                justify-content: center;
            }    

            .avatar {
                
                img {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 100%;
                }
            }

            .caregiver {
                font-size: 20px;
                font-weight: 100;
            }
        }
    }

    .RequestsContainer {
        background-color: #eceff3;
    }

    .InterestedContainer {
        background-color: #fff;
        .status-row {
            border-bottom: 2px solid #eceff3;
            border-radius: 0px;
        }
    }

    .MessageMapContainer {
        background-color: #7eb9ff;
        
        h1 {
            color: #fff;
        }

        .Details {
            background: #fff;
            width: 80%;
            height: auto;
            margin: auto;
            display: flex;
            flex-flow: column;
            border-radius: 5px;
            padding: 15px 30px;

            h3 {
                margin: 0 auto;
                color: #7eb9ff;
                font-weight: 100;
            }

            .StartFinish {
                display: flex;
                flex-flow: row;
                justify-content: space-around;
            }

            .Start,
            .Finish {
                display: flex;
                flex-flow: inherit;

                time {
                    color: #fff;
                    background-color: #eceff3;
                    border-color: #eceff3;
                    max-height: 40px;
                    color: #424140;
                    font-size: x-large;
                    font-weight: 100;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-around;
                    position: relative;
                    bottom: .5em;
                    left: 1em;
                }
            }
            .GoogleMap {
                padding: 15px 0 15px 0;
                width: 100%;
                border: 2px solid #7eb9ff;
                border-radius: 5px;
                margin-top: 15px;
                height: auto;
            }
        }
    }

    .HistoryContainer {

        .history-wrapper {
            width: 80%;
            height: auto;
            margin: 0 auto;
            border: 2px solid #7eb9ff;
            border-radius: 5px;
            background-color: #e1e3e5;

            .status-row {
                
                width: 100%;

                .avatar {}

                .name {}

                .date {}

                .StartFinish {
                    padding: 1.5% 0;
                    font-size: large;
                    display: flex;
                }
            }

            .HistoryDropDown {
                border: none;
                background: #e9edf3;
                padding: 0 0 30px 0;

                .AvatarDisplay {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-around;
                    padding: 30px 0 60px 0;

                    .AnimalAvatar {
                        width: 12rem;
                        height: 12rem;
                        border-radius: 100%;
                        border: 1px solid;
                        display: flex;
                        flex-direction: column-reverse;                        

                        span {
                            margin: 0 auto;
                            font-size: 2rem;
                            position: relative;
                            top: 3rem;
                        }
                    }
                    
                }

                .TodaysService {
                    width: 30%;
                    padding: 10px 0;
                    margin: auto;
                    display: flex;
                    flex-direction: inherit;
                    justify-content: center;
                    background: #fff;
                    margin-bottom: 30px;
                    border-radius: 5px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    font-size: 4rem;
                    
                    .ServiceLength {
                        color: #7eb9ff;
                        padding: 0 15px 0 0;
                    }
                }
            }
        }
    }

    .all-rights-reserved {
        background-color: #959595;
        color: #fff;
        padding: 5px;
        display: flex;

        span {
            margin: 0 auto; 
        }
    }
}

@media (max-width: 414px) {
    .StatusContainer .RequestsContainer .status-row,
    .StatusContainer .InterestedContainer .status-row,
    .StatusContainer .MessageMapContainer .status-row {
        display: flex;
        flex-flow: column;

        .avatar,
        .name,
        .date,
        .space-around,
         {
            margin: 0 auto;
        }
    }
    .StatusContainer .MessageMapContainer .Details .StartFinish {
        flex-flow: column;
    }
    .StatusContainer .MessageMapContainer .Details .Start time,
    .StatusContainer .MessageMapContainer .Details .Finish time {
        bottom: inherit;
        left: inherit;
    }

    .StatusContainer .HistoryContainer .history-wrapper .status-row {
        display: flex;
        flex-flow: column;

        .avatar,
        .name,
        .date,
        .StartFinish {
            margin: 0 auto;
        }
    }

    .StatusContainer .HistoryContainer .history-wrapper .HistoryDropDown .AvatarDisplay {
        display: flex;
        flex-flow: column;

        .AnimalAvatar {
            margin: 0 auto 60px auto;
        }
    }

    .StatusContainer .HistoryContainer .history-wrapper .HistoryDropDown .TodaysService {
        width: 80%;
        padding: 10px 0;
    }
}