.UpdateOwnerContainer {
    width: 100%;
    height: auto;
    padding: 0 0 30px 0; 
    display: flex;
    flex-flow: column;

    .update-petowner-toggle {
        margin: auto;
        display: flex;
        flex-flow: row;

        h1 {
            margin: 0 auto;
            padding: 30px 0;
        }

        span .UserEdit {
            font-size: 30px;
            color: #fff;
            margin: 3rem 1rem;
        }
    }

    textarea {
        resize: none;
    }
    textarea::placeholder {
        color: #a9d1ff;
    }

    .widget {
        width: 40%;
        height: auto;
        margin: auto;
        margin-top: 0;
        padding: 30px 15px;
        background-color: #b8d9ff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

        .widget-upper {
            display: flex;
            flex-flow: row;
            justify-content: space-between;

            span {
                color: #fff;
                font-size: 40px;
            }

            .reciever-name {
                font-size: larger;
            }

            span,
            .reciever-name {
                display: flex;
                flex-flow: column;
                justify-content: center;
                font-weight: bold;
            }

            .sender {
                display: flex;
                flex-direction: row;
                justify-content: baseline;
                font-size: larger;
                font-weight: bold;

                .avatar {
                    width: 3.75rem;
                    height: 3.75rem;
                    border: 1px solid;
                    border-radius: 100%;
                    margin-right: 15px;
                    overflow: hidden;
                    img {
                        max-width: 100%;
                        min-height: 100%;
                    }
                }

                .sender-name {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                }
            }
        }

        .take-a-picture {
            width: 100%;
            background-color: #fff;
            margin: 15px 0;
            padding: 15px;
            border-radius: 5px;
            min-height: 25rem;
            height: auto;
            display: flex;
            flex-flow: column;
            justify-content: center;

            div {
                position: relative;
            }

            span,
            caption {
                margin: 0 auto;
                display: flex;
                flex-flow: column;
                justify-content: center;
                color: #b8d9ff;
            }

            span {
                font-size: 6rem;
            }
            caption {
                color: #a9d1ff;
                font-size: 18px;
            }

            .dropzone {
                height: 46vh;
                border: none;
                background: transparent;
                z-index: 3;
                position: absolute;
                bottom: 0;
                box-shadow: none;
            }
        }

        form {
            padding-bottom: 15px;

            textarea.form-control {
                border: none;
            }
        }

        button {
            max-width: 70px;
            margin: auto;
            cursor: pointer;
        }

    }

    .all-rights-reserved {
        background-color: #959595;
        color: #fff;
        padding: 5px;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;

        span {
            margin: 0 auto;
        }
    }
}

@media (max-width: 414px) {
    .UpdateOwnerContainer .widget {
        width: 90%;
    }
}