.popup {
    width: 80%;
    margin: auto;
    padding: 30px 15px;

    span {
        font-size: 20px;
        color: #7EB9FF;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
    }

    input.submit-button {
        width: auto;
        display: flex;
        margin: auto;
    }
}

@media (max-width: 414px) {
    .dropzone > div {
        font-size: x-small;
    }
}