.Jobs {
    text-align: center;
    background-color: #7EB9FF;
    padding: 15px 0 30px 0;
    
    li { list-style: none; }

    .jobs-container {
        width: 80%;
        padding: 0 0  0;
        margin: auto;

        h1 {
            width: 100%;
            color: white;
            margin: 18px 0;

        }
        .job-list {
            border-radius: 5px;
            overflow: hidden;
            margin: 0;
            padding: 0;

            h3 {
                color: #7EB9FF;
                margin: 0;
                padding: 20px 0 28px 0; 
            }
        }
    }
}