.CaregiverFilterContainer {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: 0 auto;
    height: auto;

    h1 {
        margin: 0 auto;
        padding: 30px 0 30px 0;
        font-weight: 100;
    }

    .SearchFilterContainer {
        border-radius: 5px;
        background-color: #7eb9ff;
        padding: 30px;

        .react-tabs {

            .react-tabs__tab-list {
                display: inline-flex;
                flex-flow: row;
                justify-content: space-between;
                width: 100%;
                margin: 0 0;
                padding: 0 0;

                .react-tabs__tab {
                    top: 3px;
                    position: relative;
                    width: 33.3333333%;
                    text-align: center;
                    padding: 15px;
                    color: #fff;
                }

                .react-tabs__tab.react-tabs__tab--selected {
                    color: #808080;
                    border-radius: 5px 5px 0 0;
                    background-color: #fff;
                }
            }

            .react-tabs__tab-panel {
                border-radius: 5px;
            }

            .react-tabs__tab-panel.react-tabs__tab-panel--selected {
                display: flex;
                flex-flow: column;

                .top-bottom {
                    margin: 0 0 2px 0;
                    background-color: #fff;
                    width: 100%;
                    height: 105px;
                    padding: 15px;
                    height: auto;
                }
                
                .proximity,
                .time {
                    border-radius: 5px 5px 0 0;
                    display: flex;
                    align-items: center;

                    h3 {
                        font-weight: 100;
                        margin: 0 auto;

                        span {
                            font-weight: 500;
                        }
                    }
                }

                // .service-type {
                //     display: flex;
                //     justify-content: center;
                //     margin-bottom: 8px;
                //     background-color: white;

                //     h3 {
                //         font-weight: 100;
                //         color: #7eb9ff;
                //         margin: 0 auto;
                //     }
                // }

                .caregiver-row {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;

                    .avatar {
                        width: 10rem;
                        height: 10rem;
                        border: 1px solid grey;
                        border-radius: 100%;
                    }

                    .caregiver {
                        font-size: x-large;
                        font-weight: 100;
                        display: flex;
                        flex-flow: column;
                        justify-content: space-around;
                    }

                    .space-around {
                        display: flex;
                        flex-flow: column;
                        justify-content: space-around;

                        .btn-request {
                            color: #fff;
                            background-color: #337ab7;
                            border-color: #2e6da4;
                            max-height: 40px;
                        }
                    }
                }

            }
        }
        .service-type {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
            padding: 15px 0;
            background-color: white;

            h3 {
                font-weight: 100;
                color: #7eb9ff;
                margin: 0;
            }
        }
    }
}

@media (max-width: 414px) {
    .CaregiverFilterContainer .SearchFilterContainer .react-tabs .react-tabs__tab-panel.react-tabs__tab-panel--selected .caregiver-row {
        flex-flow: column;

        .avatar,
        .caregiver {
            margin: 0 auto; 
        }
    }
}