.job-item {
    .paw {
        background: url('../../../../assets/img/icon-paw.png')no-repeat 0 0 transparent;
        width: 50px;
        height: 50px;
        background-size: cover;
    }
}

.Checkin {
    background: #e9edf3;

    .AvatarDisplay {
        display: flex;
        flex-flow: inherit;
        justify-content: inherit;
        padding: 30px 0 30px 0;
        margin-bottom: 30px;
        .AnimalAvatar {
            margin: 0 auto;
            width: 12rem;
            height: 12rem;
            border-radius: 100%;
            background-color: #fff;
            display: flex;
            flex-flow: column-reverse;
            border: 1px solid;
            span {
                margin: 0 auto;
                top: 30px;
                position: relative;
                font-size: 2rem;
            }
        }
    }
    .TodaysService {
        width: 60%;
        padding: 10px 0;
        margin: auto;
        display: flex;
        flex-direction: inherit;
        justify-content: center;
        background: #fff;
        margin-bottom: 30px;
        border-radius: 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        font-size: 4rem;
        .ServiceLength {
            color: #6aa6ef;
            padding: 0 10px;
        }
    }
    .AddressContact {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        font-size: 25px;
        font-weight: 100;
        padding-bottom: 30px;
        h1 {
            color: #595857;
            padding: 0px 0;
        }
        .Address,
        .OwnerPhone {
            div {
                font-weight: bold;
            }
        }
    }
    .Cancel {
        // width: 80%;
        margin: 0 auto;
        display: flex;
        .cancel-text {
            border-radius: 5px 0px 0px 5px;
            border: 1px solid #fff;
        }
        .submit-cancel {
            bottom: 18px;
            position: relative;
            padding: 13px;
            border-radius: 0 5px 5px 0;
            border: none;
            background-color: #6AA6EF;
            color: #fff;
        }
    }
}