.HistoryContainer {
    padding-bottom: 30px;
    display: flex;
    flex-flow: column;
    justify-content: inherit; 
    width: 80%;
    margin: auto;
    height: auto;
    cursor: pointer;
    li { 
        margin: 0;
        list-style: none; 
    }

    h1 {
        padding: 30px 0 30px 0;
        margin: 0 auto;
        font-weight: 100;
    }
    .HistoryDropDown {
            
            
        .job-tab {
            border: 2px solid #7EB9FF;
            border-radius: 5px;
            margin-bottom: 5px
        }

        div {
            margin: auto;
        }
    }
}

@media (max-width: 414px) {
    .HistoryContainer {
        .HistoryDropDown {
            
            .job {
                .job-tab {
                    display: inherit;
                }

                .AvatarName {
                    .avatar {
                        margin: 0;
                    }
                }
            }
            .tab {
                display: flex;
                flex-flow: column;
                justify-content: inherit;
                .avatar,
                .day,
                .time {
                    right: 0;
                    margin: 0 auto;
                }
            }

            .AppointmentHistory {
                display: flex;
                flex-flow: column;

                .AvatarDisplay {
                    display: flex;
                    flex-flow: inherit;
                    justify-content: inherit;
                    padding: 30px 0 30px 0;
                    margin-bottom: 30px;

                    .AnimalAvatar {
                        width: 12rem;
                        height: 12rem;
                        margin: 0 auto 45px auto;
                        span {
                            margin: 0 auto;
                            top: 30px;
                            position: relative;
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }

    .HistoryContainer .HistoryDropDown .AppointmentHistory .TodaysService {
        width: 80%;
        padding: 0;
        font-size: 3rem;
    }

    .HistoryContainer .HistoryDropDown .AppointmentHistory .AddressContact {
        font-size: 15px;
        padding: 30px;
    }
}