/* @import 'styles/_colors.scss'; // assuming a styles directory under src/
@import 'nprogress/nprogress'; // importing a css file from the nprogress node module */
/*
  *Color Variables
  * #517CF7;
  * #7EB9FF;
  * #FECD44;
  * #FFF357;
*/
body {
  font-family: sans-serif;
  color: #808080; }
  body a {
    text-decoration: none;
    color: #808080;
    cursor: pointer; }
    body a:hover {
      text-decoration: none;
      color: #666666; }
    body a:active {
      text-decoration: none;
      color: #666666; }
    body a:focus {
      text-decoration: none;
      color: #666666; }

ul {
  list-style: none; }

.border-radius {
  border-radius: 10px; }

.center {
  text-align: center; }
