/*Navbar*/

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    .NavLeft {
        padding: 10px;
        font-size: 30px;
    }
    .NavRight {
        span, 
        a {
            padding: 0em 0.8em;
            font-size: 16px;
            box-sizing: border-box;
            cursor: pointer;
        }
        span:hover,
        a:hover {
            color: #7eb9ff;
        }
    }
}

@media (max-width: 630px) {
    .Nav {
        display: flex;
        flex-direction: column;
    }
    .NavRight {
        padding: 10px 0 15px 0;
    }
}

/*Navbar*/

/*Get Started*/

section.GetStarted {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: url('../../assets/img/1-Main-Page_img-1.png') no-repeat 0 0 transparent;
    min-width: 100%;
    height: 75vh;
    background-size: cover;
    div.Find {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 66%;
        margin: auto;
        padding: 150px 0 60px 0;
        h1 {
            margin: 0 0 60px 0;
            font-weight: 700;
            font-size: -webkit-xxx-large;
            color: #fff;
        }
    }
    .Find > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .signup-btn {
        display: flex;
        justify-content: center;
        .size {
            width: 250px;
            height: 90px;
        }
        .btn-name {
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                color: #fff;
                font-size: 1.6em;
                font-weight: 300;
            }
        }
        .btn-border {
            z-index: 1;
            position: absolute;
            border: 3px solid #fff;
            border-radius: 8px;
        }
        .btn-underlay {
            position: absolute;
            z-index: 0;
            border-radius: 8px;
            background-color: rgba(126, 184, 255, 0.14);
        }
    }
}

@media (max-width: 770px) {
    .GetStarted {
        .Find > div {
            display: flex;
            flex-flow: column;
        }
        .Find {
            justify-content: center;
            align-items: center;
            .signup-btn { 
                justify-content: center;
                margin: 10px 0; 
            }
            h1 {
                align-self: center;
            }
        }
    }
}

@media (max-width: 507px) {
    .GetStarted {
        .Find  h1 {
            margin: 0 0 20px 0;
        }
    }
}

/*  Get Started  */

/*  About  */

section.About {
    padding: 60px 0 60px 0;
    height: auto;
    div {
        width: 80%;
        margin: 0 auto;
        h1 {
            padding: 0px 0 30px 0;
            text-align: center;
            font-weight: 700;
        }
    }
}

/*  About  */

/*  Services  */

.DogParkBackground {
    background: url('../../assets/img/1-Main-Page_img-2.png') no-repeat 0 0 transparent;
    min-width: 100%;
    height: 50vh;
    background-size: cover;
}

section.Services {
    height: 45vh;
    margin: 0px 0px 150px 0px;
    h1 {
        text-align: center;
        padding: 60px 0px 60px 0px;
        font-weight: 700;
    }
    .Cards {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        
        .Card {
            display: flex;
            flex-flow: column;
            h2 {
                font-weight: 700;
            }
            .Icon {
                width: 15rem;
                height: 15rem;
                border: 1px solid;
                margin: 0 auto;
                border-radius: 100%;
                border: none;
            }
        }

        .DogWalk {
            background: url('../../assets/img/icon-dog_walk.png') no-repeat center center;
            background-size: cover;
        }

        .DogPark {
            background: url('../../assets/img/icon-dog_park.png') no-repeat center center;
            background-size: cover;
        }
    }
}

@media (max-width: 414px) {
    section.Services {
        height: auto;
        .Cards {
            display: block;
            .Card {
                h2 {
                    text-align: center;
                }
            }
        }
    }
}

/*  Services  */

/*  How It Works  */

section.HowItWorks {
        height: auto;
        margin-top: 70px;
        background: #f4f4f4;
        padding: 0px 0px 80px 0px;
    h1 {
        text-align: center;
        padding: 60px 0px 60px 0px;
        font-weight: 700;
    }
    .Instructions {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        
        .Instruction {
            display: flex;
            flex-flow: column;

            h2 {
                font-weight: 700;
                border-bottom: 7px solid #7eb9ff;
                padding: 0px 0px 10px 0px;
                margin: 0px 0px 25px 0px;
                text-align: center;
                align-self: center;
            }

            .FlowChart {
                text-align: center;
                display: flex;
                flex-flow: column;

                p {
                    font-size: 1.55em;
                    font-weight: 100;
                    color: #404040;
                    margin: 14px 0px 8px 0px;
                }

                span {
                    height: 10px;
                }
            }
        }
        .divider {
            width: 2px;
            border: 1px solid #bfbfbf;
        }
    }
    @media (max-width: 414px) {
        section.HowItWorks {
            .Instructions {
                display: block;
                .Instruction {
                    h2 {
                        text-align: center;
                    }
                }
            }
        }
    }
}

/*  How It Works  */

/*  Get Started button  */

.GetStarted-btn {
    display: flex;
    justify-content: center;
    padding: 35px;
    width: 100%;
}
.yellow-btn {
    background-color: #fecd44;
    padding: 0.6em 1.5em;
    font-size: 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}

.sellCookies {
    margin: 50px 0px 50px 0px;
}

/*  Get Started button  */

/*  Footer  */

footer {
    height: auto;
    background-color: #959595;
    color: #ffff;
    padding: 50px 0px 50px 0px;
    a {
        color: #fff;
    }

    li {
        text-align: left;
        cursor: pointer;
    }
}

